body{
    background-color: indigo;
    background: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    font-family: 'Poppins',sans-serif;
    background: rgba(93, 90, 187, 0.651);
    display: block;
    text-align: center;
    margin: 0 auto;
}

.header{
    padding-top: 50px;
    color: white;
}

#title{
    font-size: 30px;
    font-weight: 300;
}

#description{
    font-weight: 100;
    font-size: 18px;
    font-style: italic;
}

#survey-form{
    width: 60%;
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 30px auto 0 auto;
    background-color: rgba(0,0,0,0.6);
    padding: 40px 50px;
    border-radius: 5px;
}

.form-group{
    margin-top: 20px;
}

.form-control{
    width: 100%;
    margin: 1% 0;
}

textarea{
    height: 100px;
}